<div class="row">
   <div class="col-md-4">
     <div class="panel panel-default">
       <div class="panel-heading">Input</div>
       <div class="panel-body">
         <form (ngSubmit)="onSubmit($event)" #appForm="ngForm">
            <div class="form-group">
               <label for="logName">Log Name</label>
               <input type="text" class="form-control" id="logName" required [(ngModel)]="model.logName" name="logName" #logName="ngModel" />
               <span [hidden]="logName.valid || logName.pristine" class="error text-danger">
                   Required Log Name
               </span>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!appForm.form.valid">
             Submit
            </button>
         </form>
         <div class="row">
         <div class="col-md-12">
         Submitted Values:
         <ul>
          <li *ngFor="let val of tempData">
            {{val}}
          </li>
         </ul>
         </div>
         </div>
       </div>
     </div>
   </div>
 </div>
<style>
   .error { font-size: 1.2rem;}
</style>